<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yubinma.person_center">

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>

        <activity
            android:name=".PersonCenter2Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rename"
            android:exported="true"/>
        <activity android:name=".csign"
            android:exported="true"/>
        <activity android:name=".changestate"
            android:exported="true"/>
        <activity android:name=".Setsex"
            android:exported="true"/>
        <activity android:name=".Setting"
            android:exported="true"/>
        <activity android:name=".Cpassword"
            android:exported="true"/>
        <activity android:name=".plocation"
            android:exported="true"/>
        <activity android:name=".Ctelephone1"
            android:exported="true"/>
        <activity android:name=".friendcenter"
            android:exported="true"/>
        <activity android:name=".Ctelephone2"
            android:exported="true"/>


        <service android:name="cn.leancloud.push.PushService"/>
        <receiver android:name="cn.leancloud.push.LCBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>