<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.nino.blindbox">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:exported="true">
        </activity>

    </application>
</manifest>