<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.chaoshan.login">

    <application>

        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginComeActivity" />
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".ResetPassword"/>
        <activity android:name=".ForgetPasswordActivity"/>
    </application>

</manifest>